@import url('https://fonts.googleapis.com/css?family=Overpass:300i,400,400i,700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======================= */


html, body {
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    /* margin: 0; */
    color: white;
    overflow: auto;
}

html {
    background: linear-gradient(to bottom, #6028A7, transparent),
         linear-gradient(to bottom right, #6028A7, transparent);
    font-family: 'Overpass', sans-serif

}


.container {
    background: url("collage.jpg");
    background-position: inherit;
}


header {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    /* padding: 7vh 0vh 7vh 7vh; */
    border-bottom: 0.4px rgb(83, 83, 83) solid;
    background-color: rgba(128, 128, 128, 0.74);
    overflow-x: hidden;
}

label {
    text-shadow: 1px 2px 3px black;
}

.title {
    text-align: center;
    width: 90%;
    align-self: center;
    justify-self: center;
    display: block;
    font-size: 10vh;
    color: white;
    font-family: 'Overpass', sans-serif;
    text-shadow: 2px 2px 8px black;
}



.input-user  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    height: max-content;
}

.input-user input, label, button {
    margin: 2.5vh;
    padding: 2vh;
    font-size: 180%;

}

button {
    width: 7%;
    background-color: #0032AB;
    border-radius: 2vh;
    color: white;
}

select {
    padding: 2vh;
    font-size: 150%;
    height: 60px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.486);
    /* width: 150px; */
}


i{
    font-style: italic;
    font-size: 80%;
}
label:nth-of-type(2){
    margin-bottom: 0;
}


.input-user input {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.486);
    box-sizing: border-box;
    border: 1px solid rgba(128, 128, 128, 0.445);
    border-radius: 2vh;
}


select:focus {
    border: 1px solid rgb(140, 20, 138);
    box-shadow: 3px 3px 15px rgb(140, 20, 138);
    outline: none;
}

[for="title"]{
    text-align: center;
}

.selects label {
    margin: 1vh;
}

.search-game  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    height: max-content;

}

.search-game input, label, button {
    margin: 2.5vh;
    padding: 2vh;
    font-size: 180%;
}

.search-game input {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.486);
    box-sizing: border-box;
    border: 1px solid rgba(128, 128, 128, 0.445);
    border-radius: 2vh;
}

[for="name"]{
    font-size: 200%
}

.hidden {
    visibility: hidden;
}

.selects {
    display: flex;
    justify-content: space-evenly;
}

.shown {
    visibility: show;
}

[type="submit"]{
    background-color: #0032AB;
    color: white; 
    border-color: rgba(128, 128, 128, 0.685);
}
[type="submit"]:hover{
    background-color: rgb(21, 38, 136);
    border: 1px solid rgba(0, 0, 255, 0.178)
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 2vh;
    background: rgba(49, 46, 46, 0.541);
    font-size: 2rem;
    border-bottom: grey solid 1px;
    color: rgb(255, 255, 255);
    font-family: 'Overpass', sans-serif
}
#brand {
    float: left;
    display: flex;
    border-radius: 5vh;
}
#brand a {
    color: rgb(179, 111, 131);
}
.main-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
    float: right;
}

nav ul li {
    border: 1px black solid;
    padding: 2vh 6vh;
}

#brand li:hover{
    color: rgb(218, 134, 159)
}

nav ul li:hover {
    background: rgba(128, 128, 128, 0.384);
    text-shadow: 2px 2px 6px black;
    font-weight: 400;
    color: rgb(199, 183, 188);
}

a {
    text-decoration: none;
    color: rgb(214, 214, 214);
}

abbr {
    text-decoration: none;
}

input:focus {
    border: 1px solid rgb(140, 20, 138);
    box-shadow: 3px 3px 15px rgb(140, 20, 138); 
    outline: none;
}

.about-title {
    font-size: 40px;
    text-align: center;
    margin: 4vh;
}

p {
    width: 60%;
    text-align: center;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    border-radius: 2vh;
}

.about {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 25px;
}

#searchTitle {
    font-size: 40px;
    text-align: center;
    margin: 4vh;
    text-shadow: 2px 2px 8px black;
}

img {
    height: 200px;
}

select .initial{
    color: grey;
}

select {
    margin-top: 12px;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    align-content: center;
}
h3 {
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    text-shadow: 4px 2px 3px black;
}

h2 {
    text-align: center;
    font-size: 35px;
    color: white;
    margin: 1vh;
    text-shadow: 4px 2px 3px black;
}

.game-info {
    border: 1px solid rgb(56, 55, 55);
    border-radius: 5px;
    margin: 1vh;
    padding: 1vh;
}

.game {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    border: 1px solid black;
    width: 60%;
    padding: 2vh;
    border-radius: 10px;
    margin: 2vh;
    background: rgb(37, 90, 158);
    box-shadow: 3px 7px 10px 3px rgba(0, 0, 0, 0.788);
}

.game-info:nth-of-type(2), .game-info:nth-of-type(3), .game-info:nth-of-type(1) {
    font-size: 20px
}

select option:first-child{
    -webkit-appearance: none;
    color: grey;
}

select:invalid {
    color: grey;
}