@import url('https://fonts.googleapis.com/css?family=Turret+Road:700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======================= */


@keyframes type {
    from {
        opacity: 0;   
    }
    to {
        opacity: 1;
    }
}

html, body {
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    /* margin: 0; */
    color: white;
    overflow: auto;
}

html {
    background: linear-gradient(to bottom, #6028A7, transparent), linear-gradient(to bottom right, #6028A7, transparent)
}

.container {
    background: url("collage.jpg");
    background-position: inherit;
    background-color: grey;
}


header {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 5vh;
    border-bottom: 0.4px rgb(83, 83, 83) solid;
    background-color: rgba(128, 128, 128, 0.788);
    overflow-x: hidden;
}

label {
    text-shadow: 1px 2px 3px black;
}

.title {
    text-align: center;
    width: 90%;
    align-self: center;
    justify-self: center;
    display: block;
    font-size: 10vh;
    padding-left: 7vh;
    color: white;
    font-family: 'Turret Road', cursive;
    text-shadow: 2px 2px 8px black;
}



.input-user  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    height: max-content;
}

.input-user input, label, button {
    margin: 2.5vh;
    padding: 2vh;
    font-size: 180%;

}

button {
    width: 7%;
    background-color: #0032AB;
    border-radius: 2vh;
    color: white;
}

select {
    padding: 2vh;
    font-size: 150%;
    -webkit-appearance: none;
}


i{
    font-style: italic;
    font-size: 80%;
}
label:nth-of-type(2){
    margin-bottom: 0;
}


.input-user input {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.486);
    box-sizing: border-box;
    border: 1px solid rgba(128, 128, 128, 0.445);
    border-radius: 2vh;
}

input:focus {
    border: 1px solid rgb(140, 20, 138);
    box-shadow: 3px 3px 15px rgb(140, 20, 138); 
    outline: none;
}
select:focus {
    border: 1px solid rgb(140, 20, 138);
    box-shadow: 3px 3px 15px rgb(140, 20, 138); 
    outline: none;
}

[for="title"]{
    text-align: center;
}

button:nth-of-type(1){
    border-color: rgba(128, 128, 128, 0.685);
}

.selects label {
    margin: 1vh;
}

.search-game  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    height: max-content;
    visibility: hidden;
}

.search-game input, label, button {
    margin: 2.5vh;
    padding: 2vh;
    font-size: 180%;

}

.search-game input {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.486);
    box-sizing: border-box;
    border: 1px solid rgba(128, 128, 128, 0.445);
    border-radius: 2vh;
}

[for="name"]{
    font-size: 200%
}

.hidden {
    visibility: hidden;
}

.shown {
    visibility: show;
}